@{
    Layout = "Layout";
}
@model Unidad1Act1PW.Models.MiPerfilViewModel
<img src="~/klipartz.com.png" class="Imginicio" />
<p>Nombre: @Model.Nombre</p>
 <a href="~/Home/Miperfil">
 <p>Ver más</p>
 </a>